USE [master]
GO
/****** Object:  Database [lms]    Script Date: 1/20/2021 5:02:08 PM ******/
CREATE DATABASE [lms]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'lms', FILENAME = N'E:\SQL\MSSQL13.MSSQLSERVER\MSSQL\DATA\lms.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'lms_log', FILENAME = N'E:\SQL\MSSQL13.MSSQLSERVER\MSSQL\DATA\lms_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [lms].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [lms]
GO
USE [lms]
GO
/****** Object:  Table [dbo].[barcode]    Script Date: 1/20/2021 5:02:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[barcode](
	[Bid] [int] IDENTITY(1,1) NOT NULL,
	[Bcode] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Bid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 1/20/2021 5:02:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[Cid] [int] IDENTITY(1,1) NOT NULL,
	[Cfn] [nvarchar](100) NOT NULL,
	[Ccontact] [nvarchar](100) NOT NULL,
	[Cemail] [nvarchar](100) NOT NULL,
	[Caddress] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[delstatus]    Script Date: 1/20/2021 5:02:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delstatus](
	[DSid] [int] IDENTITY(1,1) NOT NULL,
	[DSstatus] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DSid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orderlist_pkw]    Script Date: 1/20/2021 5:02:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderlist_pkw](
	[OPWid] [int] IDENTITY(1,1) NOT NULL,
	[OPWcust] [nvarchar](100) NOT NULL,
	[OPWcode] [nvarchar](100) NOT NULL,
	[OPWservice] [nvarchar](100) NOT NULL,
	[OPWfp] [int] NOT NULL,
	[OPWdate] [datetime] NOT NULL,
	[OPWdel] [date] NOT NULL,
	[OPWstat] [nvarchar](100) NOT NULL,
	[OPWadvance] [money] NOT NULL,
	[OPWdue] [money] NULL,
	[OPWprice] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OPWid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orderlist_pw]    Script Date: 1/20/2021 5:02:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderlist_pw](
	[OPWid] [int] IDENTITY(1,1) NOT NULL,
	[OPWcust] [nvarchar](100) NOT NULL,
	[OPWservice] [nvarchar](100) NOT NULL,
	[OPWcode] [nvarchar](100) NOT NULL,
	[OPWqty] [nvarchar](100) NOT NULL,
	[OPWdate] [datetime] NOT NULL,
	[OPWdel] [date] NOT NULL,
	[OPWdue] [money] NULL,
	[OPWstat] [nvarchar](100) NOT NULL,
	[OPWprice] [money] NOT NULL,
	[Cid] [int] NULL,
	[OPWadvance] [decimal](18, 0) NOT NULL,
	[PWid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OPWid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orderlist_ww]    Script Date: 1/20/2021 5:02:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderlist_ww](
	[OPWid] [int] IDENTITY(1,1) NOT NULL,
	[OPWcust] [nvarchar](100) NOT NULL,
	[OPWcode] [nvarchar](100) NOT NULL,
	[OPWservice] [nvarchar](100) NOT NULL,
	[OPWbw] [int] NOT NULL,
	[OPWdate] [datetime] NOT NULL,
	[OPWdel] [date] NOT NULL,
	[OPWstat] [nvarchar](100) NOT NULL,
	[OPWadvance] [money] NOT NULL,
	[OPWdue] [money] NULL,
	[OPWprice] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OPWid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[priceList_pkw]    Script Date: 1/20/2021 5:02:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[priceList_pkw](
	[PKWid] [int] IDENTITY(1,1) NOT NULL,
	[PKWcode] [nvarchar](50) NOT NULL,
	[PKWservice] [nvarchar](50) NOT NULL,
	[PKWmonthpiece] [int] NOT NULL,
	[PKWprice] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PKWid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[priceList_pw]    Script Date: 1/20/2021 5:02:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[priceList_pw](
	[PWid] [int] IDENTITY(1,1) NOT NULL,
	[PWcode] [nvarchar](50) NOT NULL,
	[PWservice] [nvarchar](50) NOT NULL,
	[PWclothtype] [nvarchar](50) NOT NULL,
	[PWprice] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PWid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[priceList_ww]    Script Date: 1/20/2021 5:02:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[priceList_ww](
	[PWid] [int] IDENTITY(1,1) NOT NULL,
	[PWcode] [nvarchar](50) NOT NULL,
	[PWservice] [nvarchar](50) NOT NULL,
	[PWboxweight] [int] NOT NULL,
	[PWprice] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PWid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[orderlist_pw]  WITH CHECK ADD  CONSTRAINT [fk] FOREIGN KEY([PWid])
REFERENCES [dbo].[priceList_pw] ([PWid])
GO
ALTER TABLE [dbo].[orderlist_pw] CHECK CONSTRAINT [fk]
GO
ALTER TABLE [dbo].[orderlist_pw]  WITH CHECK ADD FOREIGN KEY([Cid])
REFERENCES [dbo].[customer] ([Cid])
GO
USE [master]
GO
